.element__delete {
  background: url(../../../images/element/trash-button.svg) center no-repeat;
  width: 18px;
  height: 20px;
  padding: 0;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.element__delete:hover {
 opacity: 0.6;
 cursor: pointer;
}